.titleName {
  font-family: Times, Times New Roman, serif;
  font-size: 60px;
  margin: 0px;
  color: pink;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

.board {
  background-color: pink;
  width: 700px;
  height: 600px;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
}

.grid-item {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.heart {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 15px 15px 15px 15px;
}

.heart:before {
  position: absolute;
  content: "";
  left: 40px;
  top: 0;
  width: 40px;
  height: 70px;
  background: #fff6f7;
  border-radius: 50px 50px 0 0; /* make the top edge round */
  -webkit-transform: rotate(-45deg); /* 45 degrees rotation counter clockwise */
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: left bottom; /* Rotate it around the bottom-left corner */
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}

.heart:after {
  position: absolute;
  content: ""; /*shows content on page without html*/
  top: 0;
  left: 0; /* placing the right part properly */
  width: 40px;
  height: 70px;
  background: #fff6f7;
  border-radius: 50px 50px 0 0; /* make the top edge round */
  -webkit-transform: rotate(45deg); /* rotating 45 degrees clockwise */
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: right bottom; /* rotation is around bottom-right corner this time */
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
}

.redHeart:before,
.redHeart:after {
  background: #f73831;
}

.blueHeart:before,
.blueHeart:after {
  background: #73c0f3;
}
.playersTurn {
  border-style: solid;
  border-width: 0px 0px 3px;
  border-radius: 6px;
  display: inline-block;
  background: #f73831;
  border-color: #a02420;
  margin: 10px;
  font-size: 1.2em;
  height: 37px;
  font-family: "Lobster Two", cursive;
  text-align: center;
  padding: 5px 40px 1px 40px;
  vertical-align: top;
}
.blueTurn {
  background: #73c0f3;
  border-color: #5693bb;
}

.button {
  border-style: solid;
  border-width: 0px 0px 3px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  background-color: pink;
  border-color: rgb(247, 121, 142);
  margin: 10px;
  font-size: 1.2em;
  font-family: "Lobster Two", cursive;
  height: 42px;
}

.button:hover {
  background-color: rgb(247, 121, 142);
  border-color: rgba(0, 0, 0, 0.5);
}
